<div class="allartwork">
	 <p class="gallerytitle">Artwork Showcase</p>

 {{#each}}
 <div class='card'>
	 
 	<h2>{{title}}</h2>
 	<img {{bind-attr src='img'}}>
 	{{desc}}
	<div class='stats'>
	{{#if favoriteCount}}
	 	 {{favoriteCount}} like{{#if aboveOneLikes}}s{{/if}}
 	 {{/if}}
 	</div>
	<div class='comments'>
		<div class='buttons'>
			<button {{action 'addFavorites' id}}><i class="fa fa-thumbs-o-up"></i>like</button> 
		</div>	
	</div>	
</div>

 {{/each}}
</div>